[submodule "deps/imgui"]
	branch = release_1_88
	path = deps/imgui
	url = https://github.com/ibois-epfl/imgui.git
[submodule "deps/spdlog"]
	branch = v1.x
	path = deps/spdlog
	url = https://github.com/ibois-epfl/spdlog.git
[submodule "deps/assimp"]
	branch = master
	path = deps/assimp
	url = https://github.com/ibois-epfl/assimp.git
[submodule "deps/rgb-camera-calibration"]
	branch = main
	path = deps/rgb-camera-calibration
	url = https://github.com/ibois-epfl/rgb-camera-calibration.git
[submodule "deps/TSlam"]
	branch = main
	path = deps/TSlam
	url = https://github.com/ibois-epfl/TSlam.git
